.sidebar {
  // Required to display scrollbar properly.
  overflow: hidden;
}

.sidebarContent {
  padding-top: 2rem;
  padding-bottom: 8rem;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden auto;
}

.main {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem 4rem 10rem;
  overflow-y: auto;
}
